<nav class="navbar navbar-light navbar-expand-md" style="color: #f1f7fc;">
    <div class="container-fluid">
        <div class="d-sm-flex justify-content-sm-between"><a class="navbar-brand navbar-brand-centered" href="{{ path('homepage') }}" style="margin-top: -51px;"> <img style="max-height: 140px;margin-right: 102px;margin-top: 23px;" src="{{ asset('assets/img/Seal_of_Los_Santos_Police_Departement2.png') }}"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"
                                                                                                                                                                                                                                                                                          style="background-color: #25476a;"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button></div>
        <div class="collapse navbar-collapse" id="navcol-1" style="color: rgb(255,255,255);">
            <ul class="nav navbar-nav" style="color: #ffffff;">
                <li class="nav-item" role="presentation"><a class="nav-link linkWhite" href="{{ path('effectif') }}">Effectif</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link linkWhite" href="#">Plainte</a></li>
                <li class="nav-item dropdown"><a class="dropdown-toggle nav-link linkWhite" data-toggle="dropdown" data-hover="dropdown" aria-expanded="false" href="#">Rapport&nbsp;</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Intervention</a>
                        <a class="dropdown-item" href="#">Arrestation</a>
                        <a class="dropdown-item" href="#">Perquisition</a>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link linkWhite" href="{{ path('profil') }}">Profil</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link linkWhite" href="{{ path('logout') }}">Déconexion&nbsp;<i class="fa fa-sign-in"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
